.container-cadastro {
    background-image: url("/assets/imgs/bg-one-b.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }


  .card-cadastro {
    margin-bottom: 1rem;
    height: 100%;
    border-radius: 0.75rem;
    background: #ffffff;
  }
  
  .header-cadastro {
    background:  #0f1212;
    width: 100%;
    height: 80px;
    padding: 0;
    border-radius: 10px 10px 0 0; /* top-left, top-right, bottom-right, bottom-left */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo-one-b {
    width: 120px;
    height: auto;
  }
  
  .content-card {
    padding: 32px;
    gap: 8px;
  }
  
  .title-header {
    color: #040404;
    font-size: 24px;
    font-weight: 500;
  }
  
  .forms-cadastro {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  /* Faz todo label dentro de .form-group ficar acima do respectivo input/select */
  .forms-cadastro .form-group > label {
    display: block;
    margin-bottom: 0.5rem; /* ajuste a distância se quiser mais/menos espaço */
  }
  
  .forms-cadastro .form-control,
  .forms-cadastro .form-select {
  width: 100%;
  box-sizing: border-box; /* inclui padding e borda no cálculo da largura */
  display: block;         /* força bloco se não estiver */
}

  /* Estilo para o container do checkbox de termos de uso */
  .terms-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 0.5rem;
  }
  
  .terms-container p {
    margin: 0;         /* elimina a margem padrão do <p> */
    display: inline;   /* faz o texto fluir na mesma linha */
    font-size: 14px;
    color: #040404;
  }
  
  .terms-container a {
    color:  #004590;
    cursor: pointer;
    font-weight: 600;
  }
  
  .terms-container input[type="checkbox"] {
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  .button-primary {
    background:  linear-gradient(45deg, #cb8642, #edc245);
    border: none;
    padding: 10px 20px;
    border-radius: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .button-primary span {
    color: #040404;
    font-weight: 600;
  }
  
  .button-primary:hover {
    background: linear-gradient(45deg, #bf7d3c, #dab139);
  }
  
  .footer-login {
    background: #0f1212;
    width: 100%;
    height: 48px;
    padding: 0;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .text-footer {
    color: #fafafa;
    font-size: 14px;
  }
  
  .link-primary {
    color:  #edc245;
    font-weight: 500;
    text-decoration: underline;
  }
  
  label.required::after {
    content: " *";
    color: red;
  }

  .form-label{
    font-weight: 500;
  }

.password-container {
  position: relative;
  width: 100%;
}

.password-container input {
  padding-right: 40px; /* Cria o espaço para o ícone dentro do input */
}

.eye-icon-button {
  position: absolute;
  top: 50%;
  right: 10px; /* Ajuste da posição do ícone */
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: #040404; /* Cor do ícone */
}

.eye-icon-button i {
  font-size: 18px; /* Tamanho do ícone */
}

  