<div class="main-container">
  <div class="banner">
    <h1>Projetos</h1>
    <p>Um espaço onde você pode administrar seus projetos.</p>
  </div>

  <div class="breadcrumb-container">
    <div class="breadcrumb">
       <!--
      <a (click)="onVoltarClick()">Dashboard &gt; </a>
      <span class="breadcrumb-highlight"> Projetos</span>
       -->
    </div>
    <div class="actions">
     <!-- <div class="search-container">
        <input
          type="text"
          placeholder="Buscar por nome ou cidade"
          [(ngModel)]="termoBusca"
          (input)="onSearch(termoBusca)"
        />
      </div>-->
      <button class="btn-cadastrar" (click)="cadastrarProjeto()">Cadastrar Projeto</button>
    </div>
  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    <span>{{ successMessage }}</span>
    <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
    <div
      class="progress-bar-sucess"
      [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"
    ></div>
  </div>

  <div class="progress-bar-container" *ngIf="isLoading">
    <div class="progress-bar"></div>
  </div>

  <div class="tabela-container">
    <table>
      <thead>
        <tr>
          <th>Cliente</th>
          <th>Projeto</th>
          <th>Status</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let projeto of projetosPaginados">
          <td>
            <div class="perfil">
              <span>{{ projeto.cliente || '-' }}</span>
            </div>
          </td>
          <td>{{ projeto.nomeProjeto || '-' }}</td>
          <td>{{ traduzirStatusDoProjeto(projeto.status) || '-' }}</td>
          <td>{{ projeto.cidade || '-' }}</td>
          <td>{{ projeto.estado || '-' }}</td>
          <td>
            <div class="acoes">
              <button class="btn-acao visualizar">
                <img
                  src="assets/icones/See.png"
                  (click)="visualizarProjeto(projeto.idProjeto)"
                  alt="Visualizar"
                />
              </button>
              <button class="btn-acao edit">
                <img
                  src="assets/icones/Edit.png"
                  (click)="editarProjeto(projeto.idProjeto)"
                  alt="Editar"
                />
              </button>
              <button class="btn-acao delete">
                <img
                  src="assets/icones/Delete.png"
                  (click)="openModalDeletar(projeto)"
                  alt="Excluir"
                />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="projetosPaginados.length === 0">
    <ng-container *ngIf="mensagemBusca; else semProjetos">
      <div>
        <div class="alert alert-warning text-center">
          {{ mensagemBusca }}
        </div>
      </div>
    </ng-container>
    <ng-template #semProjetos>
      <div class="no-data-message">
        <img src="assets/imgs/no-data.svg" alt="Sem dados" />
        <p>Não há projetos cadastrados.</p>
      </div>
    </ng-template>
  </div>
</div>