<div class="main-container" *ngIf="cliente">
  <div class="progress-bar-container" *ngIf="carregando">
    <div class="progress-bar"></div>
  </div>

  <div class="breadcrumb-container">
    <div class="back-title">
      <img src="assets/icones/voltar-icon.svg" alt="Back" class="back-icon"
        [routerLink]="['/usuario/visualizar-clientes']" />
      <span>Detalhes do Cliente</span>
    </div>
  </div>

  <div class="header-info">
    <div class="info-box">
      <label>Cliente</label>
      <p>{{ cliente.nome }}</p>
    </div>

    <div class="info-box">
      <label>Quantidade de Projetos</label>
      <p class="count">{{ cliente.projetos.length || 0 }}</p>
    </div>
  </div>
</div>

<div class="subMain-container" *ngIf="cliente">
  <div class="divisao">
    <p>Informações</p>
    <hr class="line" />
  </div>

  <div class="data-itens">
    <div class="data-grid">
      <div class="item-data">
        <label>Cidade</label>
        <p>{{ cliente.cidade }}</p>
      </div>
      <div class="item-data">
        <label>Estado</label>
        <p>{{ cliente.estado }}</p>
      </div>
    </div>

    <div class="data-grid">
      <div class="item-data">
        <label>Rua | Número do Endereço</label>
        <p>{{ cliente.rua || 'Não informado' }}, {{ cliente.numeroEndereco || 'Não informado' }}</p>
      </div>
      <div class="item-data">
        <label>Bairro</label>
        <p>{{ cliente.bairro || 'Não informado'}}</p>
      </div>
    </div>

    <div class="data-grid">
      <div class="item-data">
        <label>CEP</label>
        <p>{{ cliente.cep || 'Não informado' }}</p>
      </div>
      <div class="item-data">
        <label>Contato</label>
        <p>{{ cliente.contato || 'Não informado'}}</p>
      </div>
    </div>
  </div>

  <div class="divisao">
    <p>Projetos</p>
    <hr class="line" />
  </div>

  <div class="data-grid-trio item-data-title">
    <div>
      <p class="item-data-title">Nome</p>
    </div>
    <div>
      <p class="item-data-title">Estado/Cidade</p>
    </div>
    <div>
      <p class="item-data-title">Status do Projeto</p>
    </div>
  </div>

  <ng-container *ngIf="cliente as c">
    <ng-container *ngIf="c.projetos && c.projetos.length > 0; else semProjetos">
      <div class="data-grid-trio" *ngFor="let projeto of c.projetos">
        <div class="item-data">
          <p>{{ projeto.nome || 'Sem nome' }}</p>
        </div>
        <div class="item-data">
          <p>{{ projeto.estado }}/{{ projeto.cidade }}</p>
        </div>
        <div class="item-data">
          <p>{{ traduzirStatusDoProjeto(projeto.status) }}</p>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #semProjetos>
    <p style="margin-left: 10px;">Nenhum projeto encontrado.</p>
  </ng-template>