<div class="main-container">
  <div class="banner">
    <h1>Agenda</h1>
    <p>Um espaço onde você pode administrar a agenda de seus processos.</p>
  </div>

  <div class="breadcrumb-container">
    <div class="breadcrumb">
      <a (click)="onVoltarClick()">Dashboard &gt; </a> 
      <span class="breadcrumb-highlight"> Agenda</span>
    </div>
    <div class="actions">
      <div class="search-container">
        <!-- Campo de busca pode ficar aqui -->
      </div>
      <!--<button class="btn-cadastrar" (click)="cadastrarCliente()">Cadastrar Cliente</button>
        -->
    </div>
  </div>
</div>