<div class="main-container">
  <div class="progress-bar-container" *ngIf="carregando">
    <div class="progress-bar"></div>
  </div>
  <div class="breadcrumb-container">
    <div class="back-title">
      <img src="assets/icones/voltar-icon.svg" alt="Voltar" class="back-icon" (click)="onVoltar()" />
      <span>Detalhes do Projeto</span>
    </div>
  </div>

  <div *ngIf="detalheProjeto" class="header-with-button">
    <div class="project-info">
      <h1>{{ detalheProjeto.nomeProjeto || '—' }}</h1>
      <p>Cliente: {{ detalheProjeto.nomeCliente || '—' }}</p>
    </div>
    <button *ngIf="allowedToAddNovidades" class="btn-novidades-square" (click)="openNovidadesModal()">
      Adicionar Atualização do Projeto
    </button>
  </div>
</div>

<!-- INFORMAÇÕES GERAIS DO PROJETO -->
<div class="subMain-container">
  <div class="divisao">
    <p>Informações do projeto</p>
    <hr class="line" />
  </div>

  <div class="data-itens" *ngIf="projetoResumo">
    <div class="data-grid">
      <div class="item-data">
        <label>Cidade</label>
        <p>{{ projetoResumo.cidade || '—' }}</p>
      </div>
      <div class="item-data">
        <label>Estado</label>
        <p>{{ projetoResumo.estado || '—' }}</p>
      </div>
    </div>

    <div class="data-grid">
      <div class="item-data">
        <label>Endereço</label>
        <p>{{ projetoResumo.endereco || '—' }}</p>
      </div>
      <div class="item-data">
        <label>Categoria</label>
        <p>{{ traduzirCategoriaProjeto(projetoResumo.categoria) || '—' }}</p>
      </div>
    </div>

    <div class="data-grid">
      <div class="item-data">
        <label>Visibilidade</label>
        <p>{{ traduzirVisibilidade(projetoResumo.publico) || '—' }}</p>
      </div>
      <div class="item-data">
        <label>Status</label>
        <p>{{ traduzirStatusProjeto(projetoResumo.status) || '—' }}</p>
      </div>
    </div>

    <div class="data-grid">
      <div class="item-data">
        <label>Observações</label>
        <p>{{ projetoResumo.observacoes || '—' }}</p>
      </div>
      <div class="item-data">
        <label>Data Limite do Orçamento</label>
        <p>{{ projetoResumo.dataLimiteOrcamento | date: 'dd/MM/yyyy' }}</p>
      </div>
    </div>
  </div>
</div>

<!-- Arquivos anexados -->
<div class="subMain-container">
  <div class="divisao">
    <div class="arquivo-header">
      <p>Arquivos</p>
      <button type="button" (click)="abrirModalAdicionarArquivos()">Adicionar +</button>
    </div>
    <hr class="line" />
  </div>

  <ng-container *ngIf="arquivosNormais.length > 0; else semArquivos">
    <section class="data-grid-arquivos">

      <ng-container *ngFor="let grupo of arquivosPorFornecedor">
        <h4 class="categoria-header">{{ grupo.titulo }}</h4>

        <div *ngFor="let arquivo of grupo.itens">
          <div class="arquivo">
            <div class="preview-container">
              <!-- Imagem -->
              <img *ngIf="isImage(arquivo) && (getPreviewUrl(arquivo) | async) as safeUrl" 
                  [src]="safeUrl" class="preview blurred" alt="pré-visualização" />

              <!-- PDF -->
              <embed *ngIf="isPdf(arquivo) && (getPreviewUrl(arquivo) | async) as safeUrl" 
                    [src]="safeUrl" type="application/pdf" class="preview blurred" />
    
              <!-- DOC/DOCX: ícone genérico -->
              <img *ngIf="isDoc(arquivo)" src="assets/icones/file-icon.svg" class="preview blurred"
                alt="pré-visualização doc" />
            </div>
    
            <div>
              <p>{{arquivo.key}}</p>
            </div>
    
            <div id="acoes" class="data-grid-trio">
              <button class="btn-acao visualizar" (click)="openModalVisualizar(arquivo)">
                <img src="assets/icones/See.png" alt="Visualizar" />
              </button>
              <button class="btn-acao download" (click)="openModalDownload(arquivo)">
                <img src="assets/icones/download-icon.svg" alt="Download" />
              </button>
              <button class="btn-acao delete" (click)="openModalDeletar(arquivo)">
                <img src="assets/icones/Delete.png" alt="Excluir" />
              </button>
            </div>
          </div>
        </div>
        
      </ng-container>


    </section>
  </ng-container>


  <ng-template #semArquivos>
    <p style="margin-left: 1rem;">Nenhum arquivo encontrado.</p>
  </ng-template>

  <div *ngIf="successMessage" class="alert alert-success" style="margin-bottom:0; margin-top: 5px;">
    <span>{{ successMessage }}</span>
  </div>
</div>

<div class="subMain-container" *ngIf="isArquiteto() || isAdmin()">
  <div class="divisao">
    <p>Propostas Recebidas</p>
    <hr class="line" />
  </div>

  <ng-container *ngIf="propostasDoProjeto.length > 0; else semPropostas">
    <section class="propostas-agrupadas">

      <ng-container *ngFor="let grupo of propostasPorCategoria">
        <h4 class="categoria-header">{{ grupo.titulo }}</h4>
        
        <div class="propostas-container">
          <div class="card-proposta" *ngFor="let proposta of grupo.itens">
            <div class="header-proposta">
              <div class="avatar">
                <img [src]="proposta.urlFoto" alt="Foto do Proponente">
              </div>
              <div class="info-proponente">
                <h4>{{ proposta.razaoSocial }}</h4>
                <div class="rating">
                  <ng-container *ngFor="let star of [1, 2, 3, 4, 5]">
                    <span class="star" [class.filled]="proposta.classificacao > 0 && proposta.classificacao >= star">
                      ⭐
                    </span>
                  </ng-container>
                </div>
              </div>
            </div>

            <div class="body-proposta">
              <p>{{ proposta.descricaoFornecedor }}</p>
              <div class="valor">
                <span>Valor:</span>
                <span class="valor-total">R$ {{ proposta.valorProposta | number:'1.2-2' }}</span>
              </div>

              <div *ngIf="proposta.key" class="arquivo-proposta">
                <div class="preview-container">
                  <!-- Imagem -->
                  <img *ngIf="isImageProposta(proposta) && (getPreviewUrlProposta(proposta) | async) as safeUrl" 
                      [src]="safeUrl" class="preview blurred" alt="pré-visualização" />
                  
                  <!-- PDF -->
                  <embed *ngIf="isPdfProposta(proposta) && (getPreviewUrlProposta(proposta) | async) as safeUrl" 
                        [src]="safeUrl" type="application/pdf" class="preview blurred" />
                  
                  <!-- DOC/DOCX: ícone genérico -->
                  <img *ngIf="isDocProposta(proposta)" src="assets/icones/file-icon.svg" 
                      class="preview blurred" alt="pré-visualização doc" />
                  
                  <!-- Ícone genérico para outros tipos -->
                  <img *ngIf="!isImageProposta(proposta) && !isPdfProposta(proposta) && !isDocProposta(proposta)" 
                      src="assets/icones/file-icon.svg" class="preview blurred" alt="pré-visualização arquivo" />
                </div>
                
                <div class="arquivo-info">
                  <p class="nome-arquivo">{{ proposta.key }}</p>
                </div>
                
                <div class="acoes-arquivo">
                  <button class="btn-acao visualizar" (click)="openModalVisualizarProposta(proposta)">
                    <img src="assets/icones/See.png" alt="Visualizar" />
                  </button>
                  <button class="btn-acao download" (click)="openModalDownloadProposta(proposta)">
                    <img src="assets/icones/download-icon.svg" alt="Download" />
                  </button>
                </div>
              </div>
            </div>

            <div class="acoes-proposta">
              <button class="btn-aceitar" (click)="abrirModalObservacao(proposta, 'aceitar')">Aceitar</button>
              <button class="btn-recusar" (click)="abrirModalObservacao(proposta, 'recusar')">Recusar</button>
            </div>
          </div>
        </div>
      </ng-container>

    </section>
  </ng-container>

  <ng-template #semPropostas>
    <p style="margin-left: 1rem;">Nenhuma proposta encontrada.</p>
  </ng-template>
</div>

<div class="subMain-container-novidades">
  <div class="divisao">
    <p>Atualizações do Projeto</p>
    <hr class="line" />
  </div>

  <div class="timeline" *ngIf="novidadesList.length > 0; else semNovidades">
    <div class="timeline-item" *ngFor="let nov of novidadesList; let i = index"
      [ngClass]="{ left: i % 2 === 0, right: i % 2 !== 0 }">
      <div class="marker"></div>
      <div class="content">
        <!-- cabeçalho da novidade -->
        <div class="novidade-header">
          <h3>{{ nov.titulo }}</h3>
          <small>
            {{ nov.data | date: 'dd/MM/yyyy HH:mm' }} —
            <span class="label-arquiteto">Arquiteto</span>
            • {{ nov.status }}
          </small>
        </div>

        <p>{{ nov.descricao }}</p>
        <img *ngIf="nov.imagemUrl" [src]="nov.imagemUrl" class="nov-img" />

        <!-- seção de comentários (cliente) -->
        <div class="comments-section" *ngIf="nov.comments?.length">
          <div class="comment" *ngFor="let c of nov.comments">
            <div class="comment-header">
              <strong [ngClass]="{
          'label-cliente': c.autor === 'Cliente',
          'label-arquiteto': c.autor === 'Arquiteto'
        }">
                {{ c.autor }}
              </strong>
              <small>{{ c.data | date: 'dd/MM/yyyy HH:mm' }}</small>
            </div>

            <!-- Título do comentário -->
            <h4 class="comment-title" *ngIf="c.titulo">{{ c.titulo }}</h4>

            <!-- Descrição do comentário -->
            <p>{{ c.descricao }}</p>
          </div>
        </div>


        <!-- botão comentar só para cliente -->
        <button *ngIf="isClient()" class="btn-comment" (click)="openComentarioModal(i)">
          Comentar
        </button>
      </div>
    </div>
  </div>

  <ng-template #semNovidades>
    <p style="margin-left: 1rem; font-style: italic;">
      Nenhuma novidade disponível no momento.
    </p>
  </ng-template>
</div>


<!-- Modal de comentário (já existente) -->
<div class="modal-overlay" *ngIf="showComentarioModal">
  <div class="modal-content">
    <button class="modal-close" (click)="fecharComentarioModal()">×</button>
    <h2>Adicionar Comentário</h2>
    <div class="modal-body">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" [(ngModel)]="comentarioTitulo" />
      <label for="descricao">Descrição</label>
      <textarea id="descricao" rows="4" [(ngModel)]="comentarioDescricao"></textarea>
    </div>
    <div class="modal-footer">
      <button class="btn-acao voltar" (click)="fecharComentarioModal()">Voltar</button>
      <button class="btn-acao enviar" (click)="enviarComentario()">Enviar</button>
    </div>
  </div>
</div>

<div class="modal-overlay" *ngIf="showPropostasModal">
  <div class="modal-content">
    <div class="modal-header">
      <h4>Adicionar Observação</h4>
      <button class="close-btn" (click)="fecharModalObservacao()">
        &times;
      </button>
    </div>
    <form #observacaoForm="ngForm" (ngSubmit)="confirmarAcao(observacaoForm.value)">
      <div class="modal-body">
        <p>Gostaria de adicionar uma observação antes de prosseguir?</p>
        <textarea name="observacao" [(ngModel)]="observacaoText" rows="4"
          placeholder="Opcional: Digite sua observação aqui..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-cancelar" (click)="fecharModalObservacao()">Cancelar</button>
        <button type="submit" class="btn-confirmar"
          [ngClass]="{'btn-aceitar': acaoModal === 'aceitar', 'btn-recusar': acaoModal === 'recusar'}">
          Confirmar
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Novo Modal de “Adicionar Novidades” -->
<div class="modal-overlay" *ngIf="showNovidadesModal">
  <div class="modal-content">
    <button class="modal-close" (click)="fecharNovidadesModal()">×</button>
    <h2>Adicionar Novidades</h2>
    <div class="modal-body">
      <label for="nov-titulo">Título</label>
      <input id="nov-titulo" type="text" [(ngModel)]="novidadesTitulo" />

      <label for="nov-descricao">Descrição</label>
      <textarea id="nov-descricao" rows="4" [(ngModel)]="novidadesDescricao"></textarea>

      <label for="nov-status">Status da Obra</label>
      <select id="nov-status" [(ngModel)]="novidadesStatus">
        <option value="" disabled selected>Selecione...</option>
        <option *ngFor="let s of listaStatusObra" [value]="s.value.trim()">{{ s.label }}</option>
      </select>


      <label for="nov-imagem">Imagem</label>
      <input id="nov-imagem" type="file" (change)="onImagemChange($event)" />
    </div>
    <div class="modal-footer">
      <button class="btn-acao voltar" (click)="fecharNovidadesModal()">Voltar</button>
      <button class="btn-acao enviar" (click)="enviarNovidades()">Enviar</button>
    </div>
  </div>
</div>



<!-- Conteúdo do modal -->
<ng-template #templateConteudoModal>
  <div class="modal-body-arquivos">
    <form [formGroup]="arquivoModalForm" (submit)="onSubmitArquivosModal()" autocomplete="off">
      <div id="campo-valor">
        <label class="form-label required" for="categoria">
          Categoria
        </label>
        <select formControlName="categoria" id="categoria">
          <option [value]="null" disabled hidden>
            Selecione a categoria do arquivo
          </option>
          <option *ngFor="let categoria of tipoFornecedor" [value]="categoria">
            {{ TipoFornecedorDescricoes[categoria] }}
          </option>
        </select>

        <small
          *ngIf="submitedModal && arquivoModalForm.get('categoria')?.hasError('required')"
          class="text-red-500"
        >
          Categoria é obrigatória.
        </small>


      </div>

      <div class="input-arquivo">
        <label class="form-label required" for="arquivos">Arquivos</label>
        <app-input-arquivos [isEditMode]="isEditMode" (arquivosSelecionados)="onArquivosSelecionados($event)"
        formControlName="arquivos"
        accept="application/pdf, image/jpeg, image/png, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document"
        [iconSrc]="'assets/icones/upload-file-icon.svg'"></app-input-arquivos>

        <small
          *ngIf="submitedModal && (arquivoModalForm.get('arquivos')?.value?.length || 0) === 0"
          class="text-red-500"
        >
          Selecione pelo menos um arquivo.
        </small>
      </div>

      <p class="modal-arquivo-info">Selecione arquivos (PNG, JPEG, PDF, DOC, DOCX)</p>

      <div class="alerts">
        <div class="alerts-container alert-danger" *ngIf="submitedModal && errorMessageModal">
          {{ errorMessageModal }}
        </div>
      </div>

    </form>
  </div>
</ng-template>