<div class="main-container">
  <!-- Banner e breadcrumb -->
  <div class="banner">
    <h1>Histórico</h1>
    <p>Um espaço onde você pode visualizar o histórico de movimentação.</p>
  </div>

  <div class="breadcrumb-container">
    <div class="breadcrumb">
      <!-- Breadcrumb desativado -->
    </div>

    <div class="actions">
      <div class="search-container">
        <app-search (searchChange)="onSearch($event)"></app-search>
      </div>
    </div>
  </div>

  <!-- Mensagem de erro -->
  <div class="alert alert-error" *ngIf="errorMsg">
    {{ errorMsg }}
    <button class="close-btn" (click)="errorMsg = null">&times;</button>
  </div>

  <!-- Loading -->
  <div class="progress-bar-container" *ngIf="isLoading">
    <div class="progress-bar"></div>
  </div>

  <!-- Tabela -->
  <div class="tabela-container" *ngIf="!isLoading && projetos.length > 0">
    <table>
      <thead>
        <tr>
          <th>Projeto</th>
          <th>Nome do arquiteto</th>
          <th>Status</th>
          <th>Data/Hora</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of projetos">
          <td>
            <div class="perfil">
              <span *ngIf="!p.nomeProjeto">-</span>
              <a *ngIf="p.nomeProjeto" (click)="visualizarProjeto(p.idProjeto)" class="cliente-link">
                {{ p.nomeProjeto }}
              </a>
            </div>
          </td>
          <td>{{ p.nomeArquiteto || '-' }}</td>
          <td>{{ traduzirProjeto(p.status) || '-' }}</td>
          <td>{{ p.dataDeAtualizacao | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <button class="btn-acao visualizar" title="Visualizar" (click)="visualizarProjeto(p.idProjeto)">
              <img src="assets/icones/See.png" alt="Ver" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Caso não haja nenhum projeto -->
  <div class="no-data-message" *ngIf="!isLoading && projetos.length === 0 && !errorMsg">
    <img src="assets/imgs/no-data.svg" alt="Sem dados" />
    <p>Não há projetos cadastrados.</p>
  </div>

</div>