<div class="main-container">
  <div class="banner">
    <h1>Arquivos</h1>
    <p>Um espaço onde você pode visualizar todos os arquivos de sua obra.</p>
  </div>

  <div class="breadcrumb-container">
    <div class="breadcrumb">
      <!--
      <a (click)="onVoltarClick()">Dashboard &gt; </a> 
      <span class="breadcrumb-highlight"> Arquivos</span>
      -->
    </div>
    <div class="actions">
      <div class="search-container">
        <!-- Campo de busca pode ficar aqui -->
      </div>
      <!--<button class="btn-cadastrar" (click)="cadastrarCliente()">Cadastrar Cliente</button>
        -->
    </div>
  </div>

  <div *ngIf="successMessage" class="alert alert-success">
    <span>{{ successMessage }}</span>
    <button class="close-btn" (click)="clearMessage()" aria-label="Fechar">&times;</button>
    <div class="progress-bar-sucess" [style.animation]="successMessage ? 'progressBarAnim 3s linear' : 'none'"></div>
  </div>

  <div class="progress-bar-container" *ngIf="isLoading">
    <div class="progress-bar"></div>
  </div>

  <div class="tabela-container">
    <table>
      <thead>
        <tr>
          <th>Nome do Arquivo</th>
          <th>Projeto</th>
          <th>Data/Hora</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let arquivo of arquivosPaginados">
          <td>
            <div class="perfil">
              <span *ngIf="!arquivo.key">-</span>
              <a *ngIf="arquivo.key" (click)="visualizarArquivo(arquivo)" class="arquivo-link">
                {{ arquivo.key }}
              </a>
            </div>
          </td>

          <td>{{ arquivo.nomeProjeto || '-' }}</td>
          <td>{{ arquivo.dataUpload | date:'dd/MM/yyyy HH:mm' }}</td>
          <td>
            <div class="acoes">
              <button class="btn-acao visualizar">
                <img src="assets/icones/See.png" (click)="visualizarArquivo(arquivo)" alt="Visualizar" />
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="arquivosPaginados.length === 0">
    <ng-container *ngIf="mensagemBusca; else semProjetos">
      <div>
        <div class="alert alert-warning text-center">
          {{ mensagemBusca }}
        </div>
      </div>
    </ng-container>
    <ng-template #semProjetos>
      <div class="no-data-message">
        <img src="assets/imgs/no-data.svg" alt="Sem dados" />
        <p>Não há arquivos.</p>
      </div>
    </ng-template>
  </div>

  <div class="pagination" *ngIf="arquivosPaginados.length > 0">
    <app-pagination [paginaAtual]="paginaAtual" [totalItens]="totalItens" [itensPorPagina]="itensPorPagina"
      (paginaMudou)="onPaginaMudou($event)">
    </app-pagination>
  </div>

</div>