<!-- HEADER -->
<header #header class="header" id="header" [class.left-pd]="isSidebarOpen">
    <div class="header-container">
      <button (click)="toggleSidebar()" class="header-toggle" id="header-toggle">
        <img src="assets/icones/menu-icon.svg" alt="image" />
      </button>

      <div class="header-user">
        <div class="usuario">
          <img src="assets/imgs/user-photo.png" alt="User Photo" class="user-photo" />
          <div class="user-info">
            <h3 class="user-name">{{ nomeUsuario }}</h3>
            <span class="user-cargo">{{ permissaoUsuario }}</span>
          </div>
        </div>
        <button #dropdownToggle (click)="toggleDropdown()" class="dropdown-toggle" id="dropdown-toggle">
          <img src="assets/icones/seta-down-icon.svg" alt="Dropdown Icon" class="dropdown-icon" />
        </button>
        <div class="dropdown-menu" id="dropdown-menu" [ngClass]="{ 'show': isDropdownOpen }">
          <button routerLink="/usuario/meu-perfil-cliente" class="dropdown-item">Meu perfil</button>
          <button class="dropdown-item" (click)="logout()">Sair</button>
        </div>
      </div>
    </div>
  </header>

  <mat-drawer-container>
  <!-- SIDEBAR -->
  <mat-drawer #sidebar class="sidebar" id="sidebar" mode="side" opened [class.show-sidebar]="isSidebarOpen">
    <div class="sidebar-container">
      <div class="sidebar-logo">
        

        <div class="sidebar-info">
            <img src="assets/imgs/logo-ob.svg" alt="image" />
        </div>
      </div>

      <mat-nav-list class="sidebar-content">
        <div>
          <h3 class="sidebar-title">HOME</h3>

          <div class="sidebar-list">
            <a routerLink="/usuario/dashboard-admin" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/dashboard-admin')}">
              <img src="assets/icones/icone-dash.svg" alt="home icon" />
              <span>Dashboard</span>
            </a>

            <a routerLink="/usuario/lista-de-notificacoes-cliente" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/lista-de-notificacoes-cliente')}">
              <img src="assets/icones/notificacao.svg" alt="home icon" />
              <span>Notificações</span>
            </a>
          </div>
        </div>
       

        <div>
            <h3 class="sidebar-title">Serviços</h3>
  
            <div class="sidebar-list">
              <a routerLink="/usuario/visualizar-clientes" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/visualizar-clientes')}">
                <img src="assets/icones/icone-cliente.svg" alt="home icon" />
                <span>Clientes</span>
              </a>
  
              <a routerLink="/usuario/visualizar-projeto" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/visualizar-projeto')}">
                <img src="assets/icones/icone-caderno.svg" alt="home icon" />
                <span>Projetos</span>
              </a>

              <a routerLink="/usuario/visualizar-fornecedores" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/visualizar-fornecedores')}">
                <img src="assets/icones/icone-loja.svg" alt="home icon" />
                <span>Fornecedores</span>
              </a>

              <a routerLink="/usuario/meu-perfil" class="sidebar-link" [ngClass]="{'active-link': isActive('/usuario/meu-perfil')}">
                <img src="assets/icones/icone-perfil.svg" alt="home icon" />
                <span>Meu Perfil</span>
              </a>
            </div>
          </div>
      </mat-nav-list>
    </div>
  </mat-drawer>

<!-- MAIN CONTENT -->
  <mat-drawer-content #content class="drawer-content" [class.shifted]="isSidebarOpen">
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>